.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.videoCall-main .videoCall-video{
  position: relative;
  width: 100%;
  height: 100%;
}
.videoCall-main .videoCall-video video{
  width: 100%;
  height: 100%;
  background: red;
}
