html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.videoCall-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);

}

.videoCall-main .videoCall-video {
  position: relative;
  width: 100%;
  height: 100%;
}

.videoCall-main .videoCall-video .videoCall-mainVideo {
  width: 100%;
  height: 100%;

  background: rgba(28, 72, 67, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  transition: all ease-in-out 2s;
  transition-delay: 2s;

}

.videoCall-main .videoCall-video .videoCall-mainVideo.switchScreen {
  width: 200px;
  height: 130px;

  position: absolute;

  bottom: 0;
  right: 0;
  transform: translate(-20px, -120px);
  z-index: 1;
  transition: all ease-in-out 2s;
  /* transition-delay: 2s; */

}

.videoCall-main .videoCall-video .videoCall-subVideo {
  width: 400px;
  height: 260px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-20px, -120px);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  display: flex;
  align-items: center;
  transition: height ease-in-out 2s;
  transition: width ease-in-out 2s;

}

.videoCall-main .videoCall-video .videoCall-subVideo.switchScreen {
  width: 100%;
  height: 100%;
  position: unset;
  transform: unset;
  transition: all ease-in-out 2s;
  /* transition-delay: 2s; */


}

.videoCall-main .videoCall-video .videoCall-subVideo .videoCall-subVideo_wrapper {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.videoCall-main .videoCall-video .videoCall-mainVideo video,
.videoCall-main .videoCall-video .videoCall-subVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.videoCall-main .videoCall-action {
  width: 100%;
  height: 75px;
  object-fit: cover;

  position: absolute;
  bottom: 0;
  left: 0;


  /* border: 1px solid rgba(255, 255, 255, 0.18); */

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 140px;
}

.videoCall-main .videoCall-action::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 100px;

  background: inherit;
  opacity: 1;
  border-radius: 100rem;
  transform: translate(-50%, -50%);
}


.videoCall-action .videoCal-action_left,
.videoCall-action .videoCal-action_right {
  display: flex;
  align-items: center;
  gap: 0 30px;
  width: 100%;
  height: 100%;

  cursor: pointer;

  background: rgba(28, 72, 67, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.videoCall-action .videoCal-action_left {
  border-top-right-radius: 150px;
  justify-content: flex-end;
  padding-right: 75px;
}

.videoCall-action .videoCal-action_right {
  border-top-left-radius: 150px;
  padding-left: 75px;
}

.videoCall-action .videoCal-action_left .videoCal-action_items,
.videoCall-action .videoCal-action_right .videoCal-action_items {
  padding: 20px;

  border-radius: 100%;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  transition: all ease-in-out 0.5s;
}

.videoCall-action .videoCal-action_items:hover {
  background: rgba(28, 72, 67, 1);
}

.videoCall-action .videoCal-action_items.active {
  background: rgba(28, 72, 67, 1);
  transition: all ease-in-out 0.5s;
}

.videoCall-action .videoCal-action_items svg {
  color: rgb(63, 55, 55);
  transition: all ease-in-out 0.5s;

}

.videoCall-action .videoCal-action_items.active svg {
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.videoCall-subVideo .videoCall-subVideo_wrapper .videoCall-raseHand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* background: rgba(28, 72, 67, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.videoCall-subVideo .videoCall-subVideo_wrapper .videoCall-raseHand div {
  margin: unset;
  margin-left: auto;
}

.videoCall-main .videoCall-stream {
  width: 100%;
  height: 100%;
  display: flex;
}

.chats {
  background: #fff;
  border-left: 1px solid #f1f3f4;
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 1;
  width: 0;
  /* width: 360px; */
  /* display: none; */
  transform: translateX(100%);
  will-change: opacity;
  transition: all 0.5s ease-in-out;
}

.chats.active {
  width: 360px;
  transform: translateX(0);

  /* display: block; */
  transition: all 0.5s ease-in-out;
}

.chats .chats-title {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}

.chats .chats-title h3 {
  box-flex: 1;
  flex-grow: 1;
}

.chats .chats-notify p {
  letter-spacing: .025em;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  background: #f1f3f4;
  border-radius: 8px;
  margin: 12px;
  padding: 12px;
  text-align: center;
  -webkit-user-select: none;
}

.chats .chats-list {
  flex: 1;
}

.chats .chats-input {
  align-items: center;
  background: #f1f3f4;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  min-height: 36px;
  padding: 10px 0;
}

.chats .chats-input input {
  border: none;
  background: none;
  outline: none;
}

.chats .chats-enter {
  border: 1px solid rgba(31, 38, 135, 0.37);
  padding: 5px;
  border-radius: 100%;
}


/* ====Create Room ==== */

.createRoom {
  width: 100%;
  height: 100vh;
}

.createRoom .container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* flex-direction: column; */
}

.createRoom .createRoom-box {
  min-width: 400px;
  padding: 50px 60px;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.createRoom .createRoom-title {
  padding: 20px 10px;
}

.createRoom .createRoom-title p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.createRoom .create-form {
  padding: 20px 10px;
}

.createRoom .createRoom-items {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createRoom .createRoom-items label {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.createRoom .createRoom-items input{
  border: none;
  outline: none;

  font-size: 16px;
  border-bottom: 1px solid;
}

.btn{
  display: inline-block;
  padding: 10px 30px;

  outline: none;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.btn-createRoom{
  margin-top: 20px;
}